@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body { 
    background-color: #ffffff;
    background-image: url("background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p, a {
    font-family: "Lato", sans-serif;
    color: #000000;
    text-decoration: none;
    font-style: thin;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
}

a, .logo {
    cursor: pointer;
    position: absolute;
    width: 39.08px;
    height: 34.78px;
    left: 150px;
    top: 57px;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header {
    grid-column: 2 / span 6;
}

nav {
    display: flex;
    align-items: center;
    height: 120px;
}

.Links {
    margin-left: auto;
}

.Links a{
    position: absolute;
    width: 102px;
    height: 29px;
    left: 1160px;
    top: 60px;

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.Links a:hover{
    color: #DE5C5C;
}

.ig {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 1145px;
    top:0px;
    
}

.info {
    grid-column: 2 / span 4;
}

.hero__font {
    position: absolute;
    width: 581px;
    height: 283px;
    left: 580px;
    top: 240px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    color: #000000;
}

.hero__font2 {
    position: absolute;
    width: 182px;
    height: 115px;
    left: 580px;
    top: 325px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;

    color: #000000;
}

.link a {
    position: absolute;
    width: 182px;
    height: 115px;
    left: 568px;
    top: 410px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;

    color: #000000;
}

.link a:hover{
    color:  #DE5C5C
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.link a {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 1100px) {
    .icon img {
        height: 55px;
        width: auto;
    }

    .icon__top {
        font-size: 1rem;
    }

    .hero__font {
        font-size: 60px;
        position: center;
    }

    .hero__font2 {
        font-size: 60px;
    }

    .link a {
        font-size: 60px;
        width: auto;
    }
}

@media only screen and (max-width: 650px) {

}