@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');

:root {
    --accent: #ffffff;
    --transitions: all 0.3s ease 0s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body { 
    background-color: #ffffff;
    /*background-image: url("background.svg");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    width: 110px;
    height: 33px;
    left: 93px;
    top: 64px;

}
.logo :hover{
    color: #DE5C5C;
}
.About h1 {
    position: absolute;
    width: 332px;
    height: 86px;
    left: 199px;
    top: 134px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 86px;
    color: #000000;


    display: flex;

}

.description desc {
    position: absolute;
    width: 455px;
    height: 110px;
    left: 197px;
    top: 237px;

    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.desc {
    position: absolute;
    width: 455px;
    height: 110px;
    left: 197px;
    top: 227px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.edu h1{
    position: absolute;
    width: 115px;
    height: 29px;
    left: 374px;
    top: 476px;

    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    
    color: #ffffff;
}
li{
    margin: 15px 0;
  }

.list {
    position: absolute;
    width: 284px;
    height: 189px;
    left: 374px;
    top: 530px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #ffffff;
}

.hob h2{
    position: absolute;
    width: 95px;
    height: 29px;
    left: 854px;
    top: 505px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.hob h3{
    position: absolute;
    width: 130px;
    height: 29px;
    left: 854px;
    top: 545px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #DE5C5C;
}
.hob h4{
    position: absolute;
    width: 180px;
    height: 29px;
    left: 854px;
    top: 585px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #DE5C5C;
}

.hob h5{
    position: absolute;
    width: 180px;
    height: 29px;
    left: 854px;
    top: 625px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #DE5C5C;
}

.npm {
    position: absolute;
    width: 209px;
    height: 43px;
    left: 725px;
    top: 270px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;

    transform: rotate(90deg);
}

.prof_pic {
    position: absolute;
    width: 231px;
    height: 307px;
    left: 854px;
    top: 109px;
}

.red {
    position: absolute;
    width: 287px;
    height: 301px;
    left: 330px;
    top: 440px;
}
